<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="FrmCliente.aspx">
    <system.web>
      <authorization>
        <allow roles="Operador,Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FrmProductos.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FrmAnularPedido.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
